.screen {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-wrap: wrap;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-md);
  padding: 10px;
}
