@import url("https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  background-color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary-color: #f4ffee;
  --secondary-color: #ececec;
  --ternary-color: #e1e1e1;
  --text-color: #2b2b2b;

  --border-radius-sm: 5px;
  --border-radius-md: 10px;
  --border-radius-lg: 15px;
}

.darkTheme {
  --primary-color: #016b61;
  --secondary-color: #048073;
  --ternary-color: #069788;
  --text-color: #e8e8e8;
}
